@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */
@font-face {
  font-family: "IRANKharazmi";
  src: url("./assets/fonts/IRANKharazmi.ttf");
}

@font-face {
  font-family: "BMitra";
  src: url("./assets/fonts/BMitraBold.ttf");
}


/* styles */
body {
  /* @apply bg-[#1e1f26] text-white; */
  @apply bg-white text-black font-BMitra;
}

/* navlink active */
.active {
  @apply  font-bold text-[#1f6182]  lg:hover:text-[#62b1d8] !important;
}

nav ul li a {
  @apply lg:hover:text-[#62b1d8];
}

/* انیمیشن برای نوبار موبایل */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.navbar-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  max-width: 350px;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.navbar-menu.flex {
  display: flex;
  animation-name: slideIn;
}
